{% extends 'base.html.twig' %}

{% block title %}Fermetures Pont Chaban{% endblock %}

{% block body %}

    <h2>Date du jour : {{ today }}</h2>

    <div class="mx-auto pb-3" style="width: 500px;">
        {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        {{ form_label(form.reason, 'Raison de fermeture :', {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(form.reason, {'attr': {'class': 'form-control mb-2 mr-sm-2'}}) }}

        {{ form_label(form.date, 'Date :', {'label_attr': {'class': 'sr-only'}}) }}
        <div class="input-group mb-2 mr-sm-2">
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-secondary mb-2">Submit</button>
        {{ form_end(form) }}
    </div>

    {% for month, closuresInMonth in closuresByMonth %}
        <h2>Fermetures du mois de {{ month }}</h2>

        {% for closure in closuresInMonth %}
            <div>
                <h3>{{ closure.date_reformat }}</h3>

                <p>Fermeture de la circulation de : {{ closure.fermeture_a_la_circulation }}</p>
                <p>Réouverture à la circulation à : {{ closure.re_ouverture_a_la_circulation }}</p>
                {% if closure.bateau == "MAINTENANCE" %}
                    <p>Raison de la fermeture : {{ closure.bateau }}</p>
                {% else %}
                    <p>Raison de la fermeture : bateau "{{ closure.bateau }}"</p>
                {% endif %}
            </div>
        {% else %}
            <p>Aucune fermeture n'est prévue selon ces critères</p>
        {% endfor %}
    {% endfor %}

{% endblock %}