{% extends 'base.html.twig' %}

{% block title %}Fermetures Pont Chaban Delmas{% endblock %}

{% block body %}
    <h1 class="title-pont-chaban">Fermetures du pont Chaban Delmas</h1>
    <img src="{{ asset('build/images/pont-chaban-header.jpg') }}" alt="Pont Chaban Delmas" class="img-header">

    <div class="d-flex justify-content-around fs-4">
        <p>Date du jour : <span class="fw-bold" id="today"></span></p>

        <div id="nextClosure" class="d-none">{{ nextClosure.format('Y-m-d H:i:s') }}</div>
        <p>Prochaine fermeture dans : <span id="countdown" class="fw-bold"></span></p>
    </div>

    <div class="mx-auto pb-3 width-form">
        {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        {{ form_widget(form.reason, {'attr': {'class': 'form-control mb-2 mr-sm-2 width-control'}}) }}

        <div class="input-group mb-2 mr-sm-2 width-control">
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-secondary mb-2">Submit</button>
        {{ form_end(form) }}
    </div>

    {% if closuresByMonth|length > 0 %}
        {% for month, closuresInMonth in closuresByMonth %}
            {% if closuresInMonth|length > 0 %}
                <table class="table table-striped table-hover table-bordered text-center mx-auto">
                    <thead class="table-dark">
                    <tr>
                        <th colspan="4">Fermetures du mois de {{ month }}</th>
                    </tr>
                    <tr class="thead-light">
                        <th class="col-2">Date</th>
                        <th class="col-3">Fermeture à la circulation</th>
                        <th class="col-3">Réouverture à la circulation</th>
                        <th class="col-4">Raison de la fermeture</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for closure in closuresInMonth %}
                        <tr>
                            <th scope="row" class="col-2">{{ closure.date_reformat }}</th>
                            <td class="col-3">{{ closure.fermeture_a_la_circulation }}</td>
                            <td class="col-3">{{ closure.re_ouverture_a_la_circulation }}</td>
                            <td class="col-4">{{ closure.bateau }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    {% else %}
        <table class="table table-striped table-hover table-bordered text-center mx-auto">
            <thead class="thead-dark">
            <tr>
                <th colspan="4">Fermetures</th>
            </tr>
            <tr class="thead-light">
                <th class="col-2">Date</th>
                <th class="col-3">Fermeture à la circulation</th>
                <th class="col-3">Réouverture à la circulation</th>
                <th class="col-4">Raison de la fermeture</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4">Aucune fermeture n'est prévue selon ces critères</td>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}
